.plan-done {
    background-color: #fff;
    padding: 35px 50px 40px;
}
.plan-done:not(:last-child) {
    margin-bottom: 40px;
}
.plan-done__title {
    margin: 0 0 25px;
}
.plan-done__body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 400px;
    gap: 100px;
}
.plan-done__doughnut {
    position: relative;
    max-width: 466px;
    width: 100%;
}
@media (max-width: 1400px){
    .plan-done__body {
        gap: 80px;
    }
    .plan-done__doughnut {
        max-width: 440px;
    }
}
@media (max-width: 1300px){
    .plan-done {
        padding: 30px 40px 35px;
    }
    .plan-done__body {
        gap: 60px;
    }
    .plan-done__doughnut {
        max-width: 420px;
    }
}
@media (max-width: 1200px){
    .plan-done {
        padding: 30px 15px 20px;
    }
    .plan-done__body {
        grid-template-columns: 1fr;
        gap: 40px;
        max-height: unset;
    }
    .plan-done__doughnut {
        max-width: 500px;
        margin: 0 auto;
    }
}
@media (max-width: 768px){
    .plan-done {
        padding: 25px 15px 20px;
    }
    .plan-done__body {
        gap: 30px;
    }
}
@media (max-width: 480px){
    .plan-done {
        padding: 20px 15px 15px;
    }
    .plan-done__body {
        gap: 25px;
    }
    .plan-done__title {
        margin: 0 0 20px;
    }
}
#plan-done-id {
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
}
.plan-done__done {
    text-align: center;
    font-size: 32px;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.plan-done__progress {

}
.plan-progress {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.plan-progress__item {
    flex: 0 1 20.1%;
    text-align: center;
}

@media (max-width: 480px){
    .plan-done__done {
        font-size: 28px;
    }
    .plan-progress {
        font-size: 18px;
        white-space: nowrap;
    }
    #plan-done-id {
        margin-bottom: 5px;
    }
}
@media (max-width: 360px){
    .plan-done__done {
        font-size: 24px;
    }
}

.plan-done__legend {
    overflow: auto;
    max-height: 100%;
    margin: auto 0;
}
.plan-done-legend {

}
.plan-done-legend__list {
    overflow: hidden;
}
.plan-done-legend__item {
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.plan-done-legend__item_main {
    font-size: 18px;
    font-weight: 700;
}
.plan-done-legend__item:not(:last-child) {
    margin-bottom: 5px;
}
.plan-done-legend__item_main:not(:last-child) {
    margin-bottom: 15px;
}
.plan-done-legend__color {
    flex: 0 0 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 25px;

    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}
.plan-done-legend__text {
    flex: 1 1 auto;
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.plan-done-legend__value {
    white-space: nowrap;
    flex: 0 0 200px;
    text-align: right;
}

@media (max-width: 768px){
    .plan-done-legend{
        overflow: auto;
    }
    .plan-done-legend__list{
        min-width: 660px;
        max-width: 800px;
    }
    .plan-done-legend__item {
        font-size: 14px;
    }
    .plan-done-legend__item_main {
        font-size: 16px;
        font-weight: 700;
    }
}
@media (max-width: 480px){
    .plan-done {
        margin: 0 -15px;
    }
    .plan-done-legend__color {
        font-weight: 500;
    }
}