.upload {
  font-size: 18px;
  display: grid;
  grid-template-columns: .5fr 2fr 1fr 1.5fr;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  font-weight: 700;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.upload_big {
  max-width: 100%;
  grid-template-columns: .5fr 2fr 1fr 2fr 1.5fr;
}
.upload__item {
}
.upload__item-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
.upload__select {
  display: inline-block;
  padding: 15px 15px 15px 5px;
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1bbc9b;
  max-height: 120px;
  overflow-y: auto;
  color: #fff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
}

.upload__value{
  color: #000;
  font-size: 16px;
}
.upload__text {}

.upload__button {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #1bbc9b;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color .3s ease 0s;
}
.upload__button:hover {
  background-color: #199f84;
}

@media (max-width: 1400px){
  .upload {
    font-size: 16px;
    gap: 30px;
  }
  .upload__select {
    font-size: 16px;
    padding: 13px 8px 13px 5px;
  }
  .upload__value{
    font-size: 14px;
  }
  .upload__button {
    font-size: 18px;
    padding: 13px 25px;
  }
}
@media (max-width: 1200px){
  .upload {
    font-size: 14px;
    gap: 25px;
  }
  .upload__select {
    font-size: 14px;
    padding: 10px 5px 10px 5px;
  }
  .upload__value{
    font-size: 12px;
  }
  .upload__button {
    font-size: 16px;
    padding: 10px 15px;
  }
  .upload_big {
    grid-template-columns: .5fr 2fr 1fr 2fr 1.35fr;
  }
}
@media (max-width: 992px){
  .upload {
    column-gap: 20px;
    row-gap: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  .upload__item {
    flex: 1 1 auto;
  }
  .upload__item-group .upload__select {
    flex: 1 1 auto;
  }
  .upload__select {
    padding-left: 3px;
  }
  .upload__button {
    margin-top: 5px;
  }
}

@media (max-width: 768px){
  .upload {
    column-gap: 15px;
    row-gap: 25px;
  }
  .upload__item {
    flex: 1 1 100%;
  }
}
@media (max-width: 480px){
  .upload {
    row-gap: 18px;
  }
  .upload__item-group {
    gap: 10px;
  }
}