.infographics__bar {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 15px 20px;
}
.infographics__bar:last-child {
  margin-bottom: 0;
}
.infographics__bar-title {
  margin: 0 0 20px;
  font-size: 48px;
  text-align: center;
}
@media (max-width: 1500px){
  .infographics__bar-title {
    font-size: 42px;
  }
}
@media (max-width: 1300px){
  .infographics__bar-title {
    font-size: 36px;
  }
}
@media (max-width: 1100px){
  .infographics__bar-title {
    font-size: 32px;
    margin: 0 0 15px;
  }
}

.infographics__doughnut{
  position: relative;
  margin: auto;
  height: auto;
  background-color: #fff;
  margin-bottom: 40px;
}
.infographics__doughnut:first-child {
  height: none;
}
.infographics__doughnut:last-child {
  margin-bottom: 0;
}
