@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #01296a;
  color: #000;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1640px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px){
  .container {
    padding: 0 10px;
  }
}


/*==================================================================*/
.header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header__menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header__link{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color .3s ease 0s;
  text-align: center;
}
@media (max-width: 768px){
  .header__menu {
    gap: 40px;
  }
  .header__link {
    font-size: 16px;
  }
}
@media (max-width: 480px){
  .header__menu {
    gap: 30px;
  }
  .header__link {
    font-size: 14px;
  }
}
.header__link:hover {
  color: rgb(241, 208, 137);
}
.header__link._active {
  color: rgb(244, 174, 25);
}
/*==================================================================*/

.page {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/*========================================================================================================================================================*/
.info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 42px;
  font-weight: 700;
  color: #b1b1b1;
}

.chart-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1500px){
  .chart-title {
    font-size: 42px;
  }
}
@media (max-width: 1300px){
  .chart-title {
    font-size: 36px;
  }
}
@media (max-width: 992px){
  .chart-title {
    font-size: 32px;
  }
}
@media (max-width: 768px){
  .chart-title {
    font-size: 28px;
  }
}
@media (max-width: 480px){
  .chart-title {
    font-size: 24px;
  }
}
@media (max-width: 360px){
  .chart-title {
    font-size: 20px;
  }
}
/*----------------------------------------------------------------*/

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

/*----------------------------------------------------------------*/
.footer {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.footer__text {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.footer__text p:not(:last-child) {
  margin-bottom: 5px;
}
/*==================================================================*/
